

    
        .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        height: 50px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;

        }

        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            /* font-size: 1rem; */
            /* font-weight: 400; */
            /* line-height: 1.5; */
            /* color: #286eb3; */
            background-color: #353b48;
                /* border: 1px solid #ccc;
            /* background-clip: padding-box; */
            /* border: 1px solid #ced4da; */
            /* border-radius: .25rem; */
            /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
        }
    
        .search_input{
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:red;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        text-decoration:none;
        }