*{
    text-decoration: none;
}
.heading{
    padding: 10px 0px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0px 2px 3px black;
}
.ins-box{
    width: 100%;
    height: auto;
    margin: 15px auto;
    padding: 30px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px gray;
}
.v-set td, th{
    vertical-align: middle !important;
    text-align: center;
}
.ins-box-set{
    height: 480px !important;
    overflow-y: scroll !important;
}
.ser-msg{
    font-size: 20px;
    font-weight: 600;
    color: red;
    text-shadow: 0px 0px 2px black;
}